* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
#navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
}
#navbar nav h1 {
  color: #00932A;
  font-size: 1.8rem;
  font-stretch: expanded;
  padding-left: 1rem;
  text-shadow: 0.3px 0.3px 0.3px #333;
}
#navbar nav a {
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #555;
}
#navbar nav a:hover {
  border-bottom: 2px solid #ddd;
}
.sign-up {
  background: #00932A;
  text-align: center;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: white !important;
}
@media (max-width: 500px) {
  body {
    width: 500px;
  }
  #navbar {
    display: flex;
    position: sticky;
  }
  #navbar nav {
    flex-direction: column;
    width: 100%;
  }
  #navbar nav #navigation {
    width: 100%;
  }
  #navbar nav h1 {
    padding-top: 1rem;
    padding-left: 0;
    padding-bottom: 1rem;
  }
  #navbar nav #navigation a {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  .sign-up {
    padding-left: 0;
  }
  .home {
    border-top: 1px solid gray;
  }
}
footer {
  background: #333;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
}
footer h4 {
  font-size: 1rem;
  padding-bottom: 0.6rem;
}
footer ul {
  list-style-type: none;
  color: #bbb;
  font-size: 9;
}
footer .sub-footer {
  justify-content: right;
}
footer #footer-content {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
#sub-footer-content {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
#logo {
  width: 40%;
}
.sub-footer {
  width: 20%;
}
#logo {
  color: #00932A;
}
#showcase {
  background: #333 url('../img/image1.jpg') no-repeat center center / cover;
  color: #fff;
  padding-top: 36rem;
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 102%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  bottom: 0;
}
#showcase .showcase-content p.l-heading {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 12rem;
  padding-bottom: 3rem;
}
#showcase .showcase-content #showcase-box {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.3rem 1rem;
}
#showcase .showcase-content #showcase-box .connect {
  padding-bottom: 0.6rem;
  text-shadow: 2px 2px 3px #000;
  font-weight: lighter;
  text-align: left;
}
#showcase .showcase-content #showcase-box .address {
  width: 500px;
  line-height: 1.6rem;
  padding-left: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1rem;
}
#showcase .showcase-content #showcase-box .apt {
  width: 60px;
  line-height: 1.6rem;
  padding-left: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 1rem;
}
#showcase .showcase-content #showcase-box .email {
  width: 280px;
  line-height: 1.6rem;
  font-size: 1rem;
  padding-left: 0.6rem;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
#showcase .showcase-content #showcase-box button.join {
  background: #00932A;
  color: white;
  line-height: 1.6rem;
  font-size: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 280px;
  border: 0;
}
#main-content {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 6rem;
  padding-left: 1rem;
}
#subcontent-01 {
  width: 50%;
}
#subcontent-01 h3 {
  line-height: 2rem;
  font-weight: lighter;
  font-size: 1.6rem;
  color: #444;
  padding-bottom: 1.6rem;
}
#subcontent-01 p {
  color: #555;
  margin-right: 7rem;
}
#subcontent-01 button {
  color: white;
  background: #00932A;
  align-items: center;
  margin-top: 1.6rem;
  width: 77%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 0;
  line-height: 1.6;
  font-size: 1rem;
}
#subcontent-02 {
  width: 50%;
  display: block;
  padding-bottom: 9rem;
}
#subcontent-03 {
  background: #ddd;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
#subcontent-03 img {
  height: 6vh;
}
#subcontent-03a {
  display: flex;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}
#section-04 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
#section-04 button {
  width: 30%;
  color: white;
  background: #00932A;
  align-items: center;
  margin-top: 1.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border: 0;
  line-height: 1.6;
  font-size: 1rem;
}
@media (max-width: 500px) {
  #showcase {
    margin: 0 auto;
    width: 500px;
  }
  #showcase .showcase-content {
    padding-top: 13rem;
  }
  #showcase .showcase-content p.l-heading {
    font-size: 1.6rem;
    padding-bottom: 3rem;
  }
  #showcase .showcase-content #showcase-box {
    flex-direction: row;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #showcase .showcase-content #showcase-box .address {
    width: 100%;
  }
  #showcase .showcase-content #showcase-box .apt {
    width: 100%;
    flex-direction: row;
  }
  #showcase .showcase-content #showcase-box .email {
    width: 100%;
  }
  #showcase .showcase-content #showcase-box .connect {
    text-align: center;
  }
  #showcase .showcase-content #showcase-box button.join {
    margin-top: 0.5rem;
    width: 100%;
  }
  #main-content {
    width: 500px;
    margin-top: 2rem;
  }
  #main-content #subcontent-01 {
    padding: 0;
    margin: 0 auto;
    width: 500px;
  }
  #main-content #subcontent-01 h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  #main-content #subcontent-01 p {
    text-align: left;
    margin: 0 auto;
    padding-right: 1.5rem;
  }
  #main-content #subcontent-01 button {
    width: 93%;
    margin-bottom: 1rem;
  }
  #main-content #subcontent-02 {
    display: none;
  }
  #subcontent-03 {
    display: none;
  }
  #section-04 img {
    width: 450px;
  }
  #section-04 button {
    display: none;
  }
  footer #footer-content h1 {
    display: none;
  }
  footer #footer-content #sub-footer-content {
    width: 400px;
    justify-content: space-between;
  }
}
#about-showcase {
  background: #333 url('../img/unity.jpg') no-repeat center center / cover;
  color: #fff;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}
h2 {
  color: #fff;
  width: 1000px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(7, 7, 7, 0.5);
  margin: 14rem auto;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  text-align: center;
  text-shadow: 1px 1px 2px #040;
  font-family: 'Roboto Condensed', sans-serif;
}
#content {
  font-size: 3rem;
  color: #222;
  padding-top: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  display: flex;
}
#sub-content p {
  font-size: 1rem;
  width: 80%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}
#sub-content h3 {
  font-size: 1.6rem;
  width: 20%;
  color: #999;
}
#sub-content-01 {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
#team {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.about-img {
  width: 150px;
}
#member01,
#member02,
#member03,
#member04,
#member05 {
  border: 1px solid #ddd;
}
#member01 p,
#member02 p,
#member03 p,
#member04 p,
#member05 p {
  padding-left: 5px;
}
@media (max-width: 500px) {
  #about-showcase {
    padding-top: 0;
  }
  #about-showcase h2 {
    font-size: 1.3rem;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 1x #000;
    margin-top: 0;
  }
  #content #content-heading #sub-content #team {
    flex-direction: column;
    width: 500px;
  }
  #content #content-heading #sub-content #team #member01,
  #content #content-heading #sub-content #team #member02,
  #content #content-heading #sub-content #team #member03,
  #content #content-heading #sub-content #team #member04,
  #content #content-heading #sub-content #team #member05 {
    width: 30%;
    margin: 17px auto;
  }
  #content #content-heading #sub-content p {
    width: 100%;
    margin: 0 auto;
  }
  #content #content-heading #sub-content #sub-content-01 {
    flex-direction: column;
    width: 500px;
    margin: 0;
  }
  #content #content-heading #sub-content #sub-content-01 h3 {
    text-align: left;
    margin: 0 auto;
    padding-bottom: 1.3rem;
  }
  #content #content-heading #sub-content #sub-content-01 p {
    margin: 0 auto;
    width: 450px;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZKCM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
}
