// img {
//   width: 100%;
//   max-width: 1900px;
//   display: block;
//   margin: 0 auto;
//   text-align: center;
// }

#showcase {
  background: #333 url('../img/image1.jpg') no-repeat center center/cover;
  color: #fff;
  padding-top: 36rem;

  .showcase-content {
    display: flex;
    flex-direction: column;
    // text-align: center;
    align-items: center;
    height: 102%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
       /* Overlay */
    position: absolute;
    top: 82px;
    left:0;
    right: 0;
    bottom: 0;

    p.l-heading {
      font-size: 3rem;
      font-weight: lighter;
      line-height: 25px;
      font-family: 'Roboto Condensed', sans-serif; 
      padding-top: 12rem;
      text-shadow: 2px 2px 3px #000;
      padding-bottom: 3rem;
    }

    #showcase-box {
      background-color: rgba(0,0,0,0.7);
      padding: 1.3rem 1rem;
      

      
      

      .connect {
        padding-bottom: 0.6rem;
        text-shadow: 2px 2px 3px #000;
        font-weight: lighter;
        text-align: left;

      }

      .address {
        width: 500px;
        line-height: 1.6rem;
        padding-left: 0.6rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;

      
      }

      .apt {
        width: 60px;
        line-height: 1.6rem;
        padding-left: 0.6rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
      }

      .email {
        width: 280px;
        line-height: 1.6rem;
        font-size: 1rem;
        padding-left: 0.6rem;
        margin-top: 0.3rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
      }

      button.join {
        background: #00932A;
        color: white;
        line-height: 1.6rem;
        font-size: 1rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        width: 280px;
        border: 0;


      }
    }
  }
}

#main-content {
  display: flex;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 3.3rem;
  padding-left: 1rem;
}

#subcontent-01 {
  width: 50%;

  h3 {
    line-height: 2rem;
    font-weight: lighter;
    font-size: 1.6rem;
    color: #444;
    padding-bottom: 1.6rem;
  }

  p {
    color: #555;
    margin-right: 7rem;
  }

  button {
    color: white;
    background: #00932A;
    align-items: center;
    margin-top: 1.6rem;
    width: 77%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border: 0;
    line-height: 1.6;
    font-size: 1rem;

  }

}

#subcontent-02 {
  width: 50%;
  display: block;
  padding-bottom: 9rem;
 
}

#subcontent-03 {
  background: #ddd;
  // height: 36vh;
  padding-top: 6vh;
  padding-bottom: 6vh;

  img   {
    height: 6vh;
  }
}

#subcontent-03a {
  display: flex;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}


