nav {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  // background-color: white;  
}

h1 {
  color: #00932A;
  font-size: 1.8rem;
  font-stretch: expanded;
}

nav a {
  text-decoration: none;
  padding-right: 1rem;
  color: #555;

}

nav h1 {
  padding-left: 1rem;
  text-shadow: 0.3px 0.3px 0.3px #333;

}



#navbar {
  background-color: white;
  position: sticky;
  top:0;
  z-index: 1;

}

.sign-up {
  background: #00932A;
  text-align: center;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: white;
}




